html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #373F51; */
  background-image: url(../assets/images/test.jpg);
  background-size: cover;
}

#beforeQuiz {
  padding: 3rem;
  border: 2px solid #333;
  margin: 2rem auto;
  background-color: #FFF;
  border-radius: 0.2rem;
}

button {
  border-radius: 0.4rem;
}

footer {
  text-align: center;
  color: #FFF;
}